# Site
SITE_URL=CHANGE_ME
SITE_NAME=CHANGE_ME
ADMIN_EMAIL=CHANGE_ME

CONTACT_NAME=CHANGE_ME
CONTACT_PHONE=CHANGE_ME
BANK_CARD_NAME=CHANGE_ME
BANK_CARD_NUMBER=CHANGE_ME


# SMTP
SMTP_HOST=CHANGE_ME
SMTP_PORT=CHANGE_ME
SMTP_USERNAME=CHANGE_ME
SMTP_PASSWORD=CHANGE_ME
SMTP_FROM_EMAIL=CHANGE_ME

# Telegram
TELEGRAM_BOT_TOKEN=CHANGE_ME
TELEGRAM_CHAT_ID=CHANGE_ME
TELEGRAM_PROXY_URL=CHANGE_ME

# Security
APP_SECRET=CHANGE_ME

# Rubika
RUBIKA_BOT_ID=CHANGE_ME
RUBIKA_CHAT_ID=CHANGE_ME

