Options -Indexes

<FilesMatch "\.php$">
    Deny from all
</FilesMatch>

<IfModule mod_php.c>
    php_flag engine off
</IfModule>

<IfModule mod_php7.c>
    php_flag engine off
</IfModule>

<IfModule mod_php8.c>
    php_flag engine off
</IfModule>

<FilesMatch "\.(jpe?g|png|gif|webp)$">
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    Order Allow,Deny
    Allow from all
</FilesMatch>